<div>
  <h1>Welcome to Tours Application</h1>
  <p>Tour Management System:</p>
  <%= link_to 'Users Page', users_url %>
  <br>
  <%= link_to 'Tours Page', tours_url %>
  <br>
  <%= link_to 'Bookings Page', bookings_url %>
</div>
